networks:
  app-tier:
    driver: bridge

services:
  redis:
    image: redis:7.0-alpine
    container_name: redis
    networks:
      - app-tier
    volumes:
      - redis-data:/data
    command: redis-server --save 60 1 --loglevel warning
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  kafka-1:
    image: confluentinc/cp-kafka:7.5.0
    # container_name: kafka-1
    hostname: kafka-1
    networks:
      - app-tier
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:19092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:19092,2@kafka-2:19092,3@kafka-3:19092
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_HEAP_OPTS: -Xmx2G -Xms1G
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "kafka-broker-api-versions --bootstrap-server localhost:9092 || exit 1",
        ]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 40s
    volumes:
      - kafka1_data:/var/lib/kafka/data

  kafka-2:
    image: confluentinc/cp-kafka:7.5.0
    # container_name: kafka-2
    hostname: kafka-2
    networks:
      - app-tier
    ports:
      - "9093:9093"
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093,CONTROLLER://0.0.0.0:19092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:19092,2@kafka-2:19092,3@kafka-3:19092
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_HEAP_OPTS: -Xmx2G -Xms1G
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "kafka-broker-api-versions --bootstrap-server localhost:9093 || exit 1",
        ]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 40s
    volumes:
      - kafka2_data:/var/lib/kafka/data

  kafka-3:
    image: confluentinc/cp-kafka:7.5.0
    # container_name: kafka-3
    hostname: kafka-3
    networks:
      - app-tier
    ports:
      - "9094:9094"
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9094,CONTROLLER://0.0.0.0:19092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-3:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:19092,2@kafka-2:19092,3@kafka-3:19092
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_HEAP_OPTS: -Xmx2G -Xms1G
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "kafka-broker-api-versions --bootstrap-server localhost:9094 || exit 1",
        ]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 40s
    volumes:
      - kafka3_data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    # container_name: kafka-ui
    networks:
      - app-tier
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: marketplace-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-1:9092,kafka-2:9093,kafka-3:9094
      DYNAMIC_CONFIG_ENABLED: true
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy

  api-gateway:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    env_file:
      - ./api-gateway/.env
    ports:
      - "8000:8000"
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
  # authentication
  authentication:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: marketplace-authentication
    env_file:
      - ./authentication/.env
    networks:
      - app-tier
    ports:
      - "4001:4001"
    healthcheck:
      test:
        ["CMD", "curl", "-f", "http://localhost:4001/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./authentication
      dockerfile: Dockerfile
  # audit
  audit:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: marketplace-audit
    ports:
      - "4002:4002"
    env_file:
      - ./audit/.env
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4002/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./audit
      dockerfile: Dockerfile
  products:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: marketplace-products
    ports:
      - "4003:4003"
    env_file:
      - ./products/.env
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4003/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./products
      dockerfile: Dockerfile

      # payment
  payment:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: payment
    env_file:
      - ./payment/.env
    networks:
      - app-tier
    ports:
      - "4004:4004"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4004/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./payment
      dockerfile: Dockerfile
  # categories
  # categories:
  #   depends_on:
  #     redis:
  #       condition: service_healthy
  #     kafka-1:
  #       condition: service_healthy
  #     kafka-2:
  #       condition: service_healthy
  #     kafka-3:
  #       condition: service_healthy
  # container_name: categories
  #   env_file:
  #     - ./categories/.env
  #   networks:
  #     - app-tier
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://categories:4005/health"]
  #     interval: 1m30s
  #     timeout: 30s
  #     retries: 5
  #     start_period: 30s
  #   build:
  #     context: ./categories
  #     dockerfile: Dockerfile
  # notification
  notification:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: marketplace-notification
    env_file:
      - ./notification/.env
    ports:
      - "4006:4006"
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4006/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./notification
      dockerfile: Dockerfile
  # stores
  stores:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: marketplace-stores
    env_file:
      - ./stores/.env
    ports:
      - "4007:4007"
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4007/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./stores
      dockerfile: Dockerfile
  inventory:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: inventory
    env_file:
      - ./inventory/.env
    networks:
      - app-tier
    ports:
      - "4008:4008"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4008/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./inventory
      dockerfile: Dockerfile
  # cart
  cart:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: cart
    env_file:
      - ./cart/.env
    ports:
      - "4009:4009"
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4009/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./cart
      dockerfile: Dockerfile
  tenant:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: marketplace-tenant
    ports:
      - "4010:4010"
    env_file:
      - ./tenant/.env
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4010/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./tenant
      dockerfile: Dockerfile

  review:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: marketplace-review
    env_file:
      - ./review/.env
    ports:
      - "4011:4011"
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4011/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./review
      dockerfile: Dockerfile

  orders:
    depends_on:
      redis:
        condition: service_healthy
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    container_name: orders
    env_file:
      - ./orders/.env
    networks:
      - app-tier
    ports:
      - "4012:4012"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4012/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: ./orders
      dockerfile: Dockerfile
  # color:
  #   depends_on:
  #     redis:
  #       condition: service_healthy
  #     kafka-1:
  #       condition: service_healthy
  #     kafka-2:
  #       condition: service_healthy
  #     kafka-3:
  #       condition: service_healthy
  # container_name: color
  #   env_file:
  #     - ./color/.env
  #   networks:
  #     - app-tier
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://color:4013/health"]
  #     interval: 1m30s
  #     timeout: 30s
  #     retries: 5
  #     start_period: 30s
  #   build:
  #     context: ./color
  #     dockerfile: Dockerfile
  # view:
  #   depends_on:
  #     redis:
  #       condition: service_healthy
  #     kafka-1:
  #       condition: service_healthy
  #     kafka-2:
  #       condition: service_healthy
  #     kafka-3:
  #       condition: service_healthy
  # container_name: view
  #   env_file:
  #     - ./view/.env
  #   networks:
  #     - app-tier
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://view:4014/health"]
  #     interval: 1m30s
  #     timeout: 30s
  #     retries: 5
  #     start_period: 30s
  #   build:
  #     context: ./view
  #     dockerfile: Dockerfile

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prom_data:/prometheus
    networks:
      - app-tier
  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo/tempo.yaml"]
    volumes:
      - ./etc/tempo/tempo-config.yaml:/etc/tempo/tempo.yaml:ro
      - tempo-data:/tmp/tempo
    ports:
      - "3200:3200" # HTTP API
      - "4318:4318" # OTLP gRPC
      - "4317:4317" # OTLP HTTP
  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki
      - ./etc/loki/loki-config.yml:/etc/loki/loki-config.yml
    command: -config.file=/etc/loki/loki-config.yml -config.expand-env=true
    networks:
      - app-tier
  promtail:
    image: grafana/promtail:latest
    command: -config.file=/etc/promtail/promtail-config.yml
    networks:
      - app-tier
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./etc/promtail/promtail-config.yml:/etc/promtail/promtail-config.yml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # - ./audit:/app/audit
      - ./products:/app/products
      - ./inventory:/app/inventory
      - ./auth:/app/auth
      - ./payment:/app/payment
      # - ./categories:/app/categories
      - ./stores:/app/stores
      - ./cart:/app/cart
      - ./tenant:/app/tenant
      - ./review:/app/review
      - ./orders:/app/orders
      # - ./color:/app/color
      # - ./view:/app/view
      - ./notification:/app/notification
      - ./api-gateway:/app/api-gateway

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_FEATURE_TOGGLES_ENABLE=alertingSimplifiedRouting,alertingQueryAndExpressionsStepMode
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=grafana-exploretraces-app
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1c:\Users\essie\marketplace-api\etc\tempo\tempo.yaml
          editable: false
        EOF
        /run.sh
    ports:
      - "3000:3000"
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/datasources/tempo.yaml:/etc/grafana/provisioning/datasources/tempo.yaml
    networks:
      - app-tier
volumes:
  prom_data:
  redis-data:
  grafana_data:
  loki_data:
  kafka1_data:
  kafka2_data:
  kafka3_data:
  tempo-data:
